
/* Google Calendar stuff */
.responsiveCal {
    position: relative; 
    padding-bottom: 100%;
    padding-left: 100%;
    padding-right: 50%;
    height: 0;
    }
     
    .responsiveCal iframe {
    position: absolute; 
    top:0; 
    left: 0;  
    height: 100%; 
    width: 100%;
    }
    
    @media all and (min-width: 768px) {
        .deskContent {display:block;}
        .phoneContent {display:none;}
    }
    
    @media all and (max-width: 1000px) {
        .deskContent {display:none;}
        .phoneContent {display:block;}
    }

